<div class="container">
    <div class="row">
        <div class="row">
            <div class="row">

            </div>
        </div>
    </div>
</div>
<!-- https://css-tricks.com/couple-takes-sticky-footer/f -->
<footer class="footer navbar-fixed-bottom navbar">
    <div class="container"> <!--class="content-padding"-->
        <div class="row">
<!-- class="footer-content"-->
        <p class="float-right"><strong> &copy; SteepDip INC. 2018 </strong></p>

        <div style="font-size: 20px;" class="social-media-icons">
            <a target="_blank" style="color: #3b5998;" href="https://www.facebook.com/pddivyesh" onMouseOver="this.style.color='#25d366'"   onMouseOut="this.style.color='#3B5998'"><i class="fab fa-facebook"></i></a>
            <a target="_blank" style="color: #cd486b;" href="https://www.instagram.com/pbdivyesh" onMouseOver="this.style.color='#fccc63'"   onMouseOut="this.style.color='#cd486b'"><i class="fab fa-instagram"></i></a>
            <a target="_blank" style="color: #4c68d7;" href="https://twitter.com/AflaatunTapudo"  onMouseOver="this.style.color='#1dcaff'"   onMouseOut="this.style.color='#4c68d7'"><i class="fab fa-twitter"></i></a>
            <a target="_blank" style="color: #ff6314;" href="https://reddit.com/user/tapu_buoy" onMouseOver="this.style.color='#d7d7d7'"   onMouseOut="this.style.color='#ff6314'"><i class="fab fa-reddit"></i></a>
        </div>
    </div>
</div>
</footer>








<!-- <footer
    style="
    background-color: #FFF;
    position:fixed;
    bottom: 0px;
    text-align: center;
    align-content: center;
    width: 100%;
    "
>
    <div class="content-padding">
        <div class="footer-content">
            <p> Copyright &copy; Divyesh Parmar INC. </p>

            <div class="social-media-icons">
                <a href="https://www.facebook.com/pddivyesh"><i class="fab fa-empire"></i><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-rebel"></i></a>
            </div>
        </div>
    </div>
</footer> -->